.price-slider {
    a {
        // position: relative;
        // text-decoration: none;
        // color: black;
        // font-family: TTLakes;
        // font-size: 16px;
        // line-height: 24px;
        // letter-spacing: -0.2px;
        // font-weight: 600;
        // flex-basis: 80%;
        // height: 160px;
        // border: 1px solid #EAEAEA;
        // border-radius: 6px;
        
    }

    &__header{
        padding: 16px;
        background-color: #FFFFFF;
    }
    &__title {
        font-family: TTLakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        text-transform: uppercase;
    }
    &__swiper {
        display: flex;
        flex-direction: column;
        background-color: #F8F8F8;
    }
    &__swiper.active {
        z-index: -1 !important;
    }
    &__slide {
        padding: 16px;
        background-color: #FFFFFF;
        margin-bottom: 7px;
        position: relative;
        color: black;
        font-family: TTLakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: 600;
        flex-basis: 80%;
        height: 160px;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
    }
    &__slide:not(:last-child) {
        margin-right: 16px;
    }
    &__slide-card {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__slide-sup {
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        opacity: 0.7;
        font-weight: 300;
        margin-bottom: 4px;
    }
    &__slide-sub {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        font-weight: 500;
        margin-bottom: 16px;
        
    }
    &_double-heigh {
        height: 32px;
    }
    &__btn-order {
        bottom: 16px;
        right: 0;
        position: absolute;
        font-family: TTLakes;
        box-sizing: border-box;
        padding: 4px 16px;
        width: 43%;
        height: 32px;
        justify-content: space-around;
        text-align: start;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px;
        color: #FFFFFF;
        background-color: #FF3E79;
        border: none;
        text-transform: uppercase;
        border-radius: 16px;
        i {
            position: absolute;
            bottom: 12px;
            right: 15px;
            border: solid #FFFFFF;
            border-width: 0 2px 2px 0;
            transform: rotate(-45deg);

        }
        @media screen and (min-width: 375px) {
            width: 39%;
        }
        @media screen and (min-width: 425px) {
            width: 35%;
        }
    }
    
}